<h2
  style="color: rgb(168, 87, 161); cursor: pointer"
  (click)="myFunction(post.aggregateId)"
>
  Comments
</h2>

<div id="toHide" class="hide">
  <div class="box">
    <div *ngFor="let comment of post.comments" class="comment-content">
      <p class="comment-author">{{ comment.author }} said:</p>
      <p class="comment-content">" {{ comment.content }} "</p>
    </div>
  </div>
  <div [hidden]="stateOfUser.token === ''">
    <form>
      <input
        placeholder="Author"
        id="new-comment-author"
        #commentAuthor
      /><br />
      <textarea
        placeholder="Content"
        class="content"
        id="new-comment-content"
        #commentContent
      ></textarea>
      <br />
      <input
        type="button"
        class="button"
        value="Publish"
        (click)="
          add(commentAuthor.value, commentContent.value);
          commentAuthor.value = '';
          commentContent.value = ''
        "
      /><br />
    </form>
  </div>
</div>
