@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);

header {
  text-align: center;
}

h1 {
  margin: 0;
  font-family: "josefin sans";
  text-shadow: 0 2px hsla(313, 65%, 81%, 0.5);
}
