<div class="container">
  <form>
    <p>Post</p>
    <input placeholder="Title" id="new-post-title" #postTitle /><br />
    <input
      placeholder="Author"
      class="author"
      id="new-post-author"
      #postAuthor
    />
    <input
      type="button"
      class="button"
      value="Publish"
      (click)="
        add(postTitle.value, postAuthor.value);
        postTitle.value = '';
        postAuthor.value = ''
      "
    />
  </form>
</div>
<div>
  <div *ngFor="let post of posts">
    <div class="post-container">
      <button routerLink="/thiscomment/{{ post.aggregateId }}">▶</button>
      <h2>{{ post.title | uppercase }}</h2>
      <p>by: {{ post.author }}</p>
      <div class="comments">
        <app-comment [post]="post"></app-comment>
      </div>
    </div>
  </div>
</div>
